# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
Podfile.lock
Pods/Manifest.lock
Pods/DynamicBlurView/LICENSE
Pods/DynamicBlurView/README.md
Pods/DynamicBlurView/DynamicBlurView/BlurLayer.swift
Pods/DynamicBlurView/DynamicBlurView/CaptureQuality.swift
Pods/DynamicBlurView/DynamicBlurView/CGContext+CGImage.swift
Pods/DynamicBlurView/DynamicBlurView/CGImage+Accelerate.swift
Pods/DynamicBlurView/DynamicBlurView/DynamicBlurView.h
Pods/DynamicBlurView/DynamicBlurView/DynamicBlurView.swift
Pods/DynamicBlurView/DynamicBlurView/TrackingMode.swift
Pods/DynamicBlurView/DynamicBlurView/UIImage+Blur.swift
Pods/Pods.xcodeproj/project.pbxproj
Pods/PopupDialog/LICENSE
Pods/PopupDialog/README.md
Pods/PopupDialog/PopupDialog/Classes/InteractiveTransition.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialog+Keyboard.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialog.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogButton.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogContainerView.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogDefaultButtons.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogDefaultView.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogDefaultViewController.swift
Pods/PopupDialog/PopupDialog/Classes/PopupDialogOverlayView.swift
Pods/PopupDialog/PopupDialog/Classes/PresentationController.swift
Pods/PopupDialog/PopupDialog/Classes/PresentationManager.swift
Pods/PopupDialog/PopupDialog/Classes/TransitionAnimations.swift
Pods/PopupDialog/PopupDialog/Classes/TransitionAnimator.swift
Pods/PopupDialog/PopupDialog/Classes/UIImageView+Calculations.swift
Pods/PopupDialog/PopupDialog/Classes/UIView+Animations.swift
Pods/PopupDialog/PopupDialog/Classes/UIViewController+Visibility.swift
Pods/Target Support Files/DynamicBlurView/DynamicBlurView-dummy.m
Pods/Target Support Files/DynamicBlurView/DynamicBlurView-Info.plist
Pods/Target Support Files/DynamicBlurView/DynamicBlurView-prefix.pch
Pods/Target Support Files/DynamicBlurView/DynamicBlurView-umbrella.h
Pods/Target Support Files/DynamicBlurView/DynamicBlurView.modulemap
Pods/Target Support Files/DynamicBlurView/DynamicBlurView.xcconfig
Pods/Target Support Files/Pods-loca/Pods-loca-acknowledgements.markdown
Pods/Target Support Files/Pods-loca/Pods-loca-acknowledgements.plist
Pods/Target Support Files/Pods-loca/Pods-loca-dummy.m
Pods/Target Support Files/Pods-loca/Pods-loca-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-loca/Pods-loca-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-loca/Pods-loca-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-loca/Pods-loca-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-loca/Pods-loca-frameworks.sh
Pods/Target Support Files/Pods-loca/Pods-loca-Info.plist
Pods/Target Support Files/Pods-loca/Pods-loca-umbrella.h
Pods/Target Support Files/Pods-loca/Pods-loca.debug.xcconfig
Pods/Target Support Files/Pods-loca/Pods-loca.modulemap
Pods/Target Support Files/Pods-loca/Pods-loca.release.xcconfig
Pods/Target Support Files/Pods-locaTests/Pods-locaTests-acknowledgements.markdown
Pods/Target Support Files/Pods-locaTests/Pods-locaTests-acknowledgements.plist
Pods/Target Support Files/Pods-locaTests/Pods-locaTests-dummy.m
Pods/Target Support Files/Pods-locaTests/Pods-locaTests-Info.plist
Pods/Target Support Files/Pods-locaTests/Pods-locaTests-umbrella.h
Pods/Target Support Files/Pods-locaTests/Pods-locaTests.debug.xcconfig
Pods/Target Support Files/Pods-locaTests/Pods-locaTests.modulemap
Pods/Target Support Files/Pods-locaTests/Pods-locaTests.release.xcconfig
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests-acknowledgements.markdown
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests-acknowledgements.plist
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests-dummy.m
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests-Info.plist
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests-umbrella.h
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests.debug.xcconfig
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests.modulemap
Pods/Target Support Files/Pods-locaUITests/Pods-locaUITests.release.xcconfig
Pods/Target Support Files/PopupDialog/PopupDialog-dummy.m
Pods/Target Support Files/PopupDialog/PopupDialog-Info.plist
Pods/Target Support Files/PopupDialog/PopupDialog-prefix.pch
Pods/Target Support Files/PopupDialog/PopupDialog-umbrella.h
Pods/Target Support Files/PopupDialog/PopupDialog.modulemap
Pods/Target Support Files/PopupDialog/PopupDialog.xcconfig
Pods/ISHPullUp/LICENSE
Pods/ISHPullUp/README.md
Pods/ISHPullUp/ISHPullUp/ISHPullUpHandleView.h
Pods/ISHPullUp/ISHPullUp/ISHPullUpHandleView.m
Pods/ISHPullUp/ISHPullUp/ISHPullUpRoundedView.h
Pods/ISHPullUp/ISHPullUp/ISHPullUpRoundedView.m
Pods/ISHPullUp/ISHPullUp/ISHPullUpViewController.h
Pods/ISHPullUp/ISHPullUp/ISHPullUpViewController.m
Pods/Target Support Files/ISHPullUp/ISHPullUp-dummy.m
Pods/Target Support Files/ISHPullUp/ISHPullUp-Info.plist
Pods/Target Support Files/ISHPullUp/ISHPullUp-prefix.pch
Pods/Target Support Files/ISHPullUp/ISHPullUp-umbrella.h
Pods/Target Support Files/ISHPullUp/ISHPullUp.modulemap
Pods/Target Support Files/ISHPullUp/ISHPullUp.xcconfig
Pods/Target Support Files/XLPagerTabStrip/ResourceBundle-XLPagerTabStrip-XLPagerTabStrip-Info.plist
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip-dummy.m
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip-Info.plist
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip-prefix.pch
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip-umbrella.h
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip.modulemap
Pods/Target Support Files/XLPagerTabStrip/XLPagerTabStrip.xcconfig
Pods/XLPagerTabStrip/LICENSE
Pods/XLPagerTabStrip/README.md
Pods/XLPagerTabStrip/Sources/BarPagerTabStripViewController.swift
Pods/XLPagerTabStrip/Sources/BarView.swift
Pods/XLPagerTabStrip/Sources/BaseButtonBarPagerTabStripViewController.swift
Pods/XLPagerTabStrip/Sources/ButtonBarPagerTabStripViewController.swift
Pods/XLPagerTabStrip/Sources/ButtonBarView.swift
Pods/XLPagerTabStrip/Sources/ButtonBarViewCell.swift
Pods/XLPagerTabStrip/Sources/ButtonCell.xib
Pods/XLPagerTabStrip/Sources/FXPageControl.h
Pods/XLPagerTabStrip/Sources/FXPageControl.m
Pods/XLPagerTabStrip/Sources/IndicatorInfo.swift
Pods/XLPagerTabStrip/Sources/PagerTabStripBehaviour.swift
Pods/XLPagerTabStrip/Sources/PagerTabStripError.swift
Pods/XLPagerTabStrip/Sources/PagerTabStripViewController.swift
Pods/XLPagerTabStrip/Sources/SegmentedPagerTabStripViewController.swift
Pods/XLPagerTabStrip/Sources/SwipeDirection.swift
Pods/XLPagerTabStrip/Sources/TwitterPagerTabStripViewController.swift
Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result.swift
Pods/Alamofire/Source/ServerTrustPolicy.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/SessionManager.swift
Pods/Alamofire/Source/TaskDelegate.swift
Pods/Alamofire/Source/Timeline.swift
Pods/Alamofire/Source/Validation.swift
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.xcconfig
Pods/SwiftMessages/LICENSE.md
Pods/SwiftMessages/README.md
Pods/SwiftMessages/SwiftMessages/AccessibleMessage.swift
Pods/SwiftMessages/SwiftMessages/Animator.swift
Pods/SwiftMessages/SwiftMessages/BackgroundViewable.swift
Pods/SwiftMessages/SwiftMessages/BaseView.swift
Pods/SwiftMessages/SwiftMessages/CALayer+Utils.swift
Pods/SwiftMessages/SwiftMessages/CornerRoundingView.swift
Pods/SwiftMessages/SwiftMessages/Error.swift
Pods/SwiftMessages/SwiftMessages/Identifiable.swift
Pods/SwiftMessages/SwiftMessages/KeyboardTrackingView.swift
Pods/SwiftMessages/SwiftMessages/MarginAdjustable+Animation.swift
Pods/SwiftMessages/SwiftMessages/MarginAdjustable.swift
Pods/SwiftMessages/SwiftMessages/MaskingView.swift
Pods/SwiftMessages/SwiftMessages/MessageView.swift
Pods/SwiftMessages/SwiftMessages/NSBundle+Utils.swift
Pods/SwiftMessages/SwiftMessages/NSLayoutConstraint+Utils.swift
Pods/SwiftMessages/SwiftMessages/PassthroughView.swift
Pods/SwiftMessages/SwiftMessages/PassthroughWindow.swift
Pods/SwiftMessages/SwiftMessages/PhysicsAnimation.swift
Pods/SwiftMessages/SwiftMessages/PhysicsPanHandler.swift
Pods/SwiftMessages/SwiftMessages/Presenter.swift
Pods/SwiftMessages/SwiftMessages/SwiftMessages.swift
Pods/SwiftMessages/SwiftMessages/SwiftMessagesSegue.swift
Pods/SwiftMessages/SwiftMessages/Theme.swift
Pods/SwiftMessages/SwiftMessages/TopBottomAnimation.swift
Pods/SwiftMessages/SwiftMessages/UIEdgeInsets+Utils.swift
Pods/SwiftMessages/SwiftMessages/UIViewController+Utils.swift
Pods/SwiftMessages/SwiftMessages/Weak.swift
Pods/SwiftMessages/SwiftMessages/WindowViewController.swift
Pods/SwiftMessages/SwiftMessages/Resources/CardView.xib
Pods/SwiftMessages/SwiftMessages/Resources/CenteredView.xib
Pods/SwiftMessages/SwiftMessages/Resources/errorIcon.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIcon@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIcon@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconLight.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconLight@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconLight@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconSubtle.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconSubtle@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/errorIconSubtle@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIcon.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIcon@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIcon@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconLight.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconLight@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconLight@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconSubtle.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconSubtle@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/infoIconSubtle@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/MessageView.xib
Pods/SwiftMessages/SwiftMessages/Resources/StatusLine.xib
Pods/SwiftMessages/SwiftMessages/Resources/successIcon.png
Pods/SwiftMessages/SwiftMessages/Resources/successIcon@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/successIcon@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconLight.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconLight@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconLight@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconSubtle.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconSubtle@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/successIconSubtle@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/TabView.xib
Pods/SwiftMessages/SwiftMessages/Resources/warningIcon.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIcon@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIcon@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconLight.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconLight@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconLight@3x.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconSubtle.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconSubtle@2x.png
Pods/SwiftMessages/SwiftMessages/Resources/warningIconSubtle@3x.png
Pods/Target Support Files/SwiftMessages/ResourceBundle-SwiftMessages-SwiftMessages-Info.plist
Pods/Target Support Files/SwiftMessages/SwiftMessages-dummy.m
Pods/Target Support Files/SwiftMessages/SwiftMessages-Info.plist
Pods/Target Support Files/SwiftMessages/SwiftMessages-prefix.pch
Pods/Target Support Files/SwiftMessages/SwiftMessages-umbrella.h
Pods/Target Support Files/SwiftMessages/SwiftMessages.modulemap
Pods/Target Support Files/SwiftMessages/SwiftMessages.xcconfig
